<!DOCTYPE html>
<html>
<head>
    <title>Answers List</title>
</head>
<body>
    <h1>Answers List</h1>
    <table>
    <thead>
        <tr>
            <th scope="col">Eleve</th>
            <th scope="col">1ère connexion</th>
            <th scope="col">Pourcentage de progression</th>
            <th scope="col">Difficulté ressentie</th>
            <th scope="col">Progression du TP</th>
        </tr>
    </thead>
    <tbody>
    {% for answer in answers %}
        <td>{{ answer.user.last_name }} {{ answer.user.first_name }}</td>
        <td>{{ answer.first_login }}</td>
        <td>{{ answer.percent}} %</td>
        <td>{{ answer.difficulty}}</td>
        <td>{{ answer.progression }}</td>
    </tbody>
    </table>
    {% endfor %}
</body>
</html>
